@charset "UTF-8";
/* CSS Document */

.nav, .pagination, .carousel, .panel-title, a{ cursor: pointer; }
a{
    top: 0px;
}
.bold {
    font-weight: bold;
}
.red {
    color: red;
}
.CsAo-tab-container:first-child {
    padding-right:2px;
    padding-left:0px;

}
.CsAo-tab-container:last-child {
    padding-left:2px;
    padding-right:0px;

}
.CsAo-tab-container:not(:last-child):not(:first-child){
    padding-left:0px;
    padding-right:0px;      
}
#CsAo-navtab-row [CsAo-tab]{
    text-align:center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    }     
#main-ngview-container, [CsAo-tab]{
    background-color:#CCCCCC;
    padding-bottom: 20px;
}
#CsAo-navtab-row a{
    font-size:24px;
    bottom:0px;
        
}
.class1{width:25px;height:50px; background-color:#000000;}
.class2{width:200px;height:50px; background-color:#000000;}
.class3{width:400px;height:50px; background-color:#000000;}
#topbar{
    margin-top: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#bottombar{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#topbar, #bottombar{
  background:#504D4D;
  height:30px;
    }
#MainimgBanner{
    border:#000000 3px solid;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
    border-radius:10px;
    }   
a {

    position: relative;
    bottom: 10px;
}
a:hover{
    text-decoration: none;
    list-style-type: none;
    list-style-image: none;
    position:relative;
    z-index:325;
    
}

a:visited{
    
}
#panel1{
    height:auto;
    width:auto;
    position:relative;
    background-color:#6E6262;
    text-align:center;
     display:inline;
    } 
#QresultsView{
    width: 100%;
    height: 200px;
    position: relative;
    float: left;
    overflow: scroll;
    }   
#makeroomforAccord{
    position:relative;
    float:left;
    width:100%;
    height:50px;
    }
.questionsDisplay{
    position:relative;
    float:left;
    width:100%;
    height:125px;
    margin-top:15px;
    background-color:#C6C5C5;
    text-align:center;
    }
.questiontitle{
    color: #F3D805;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    }
.questLink a{
    position:relative;
    top:10px;
    color:#FB272A;
        color: #008B0A;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    }  
.questiontagsdisplay{
    position:relative;
    display:inline;
    margin-left:5px;
    padding:2px;
    border:#000000 thin solid;
    
    } 
.tagsContainer{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
    }
   
#panel2{
    height:100%;
    width:100%;
    position:relative;
    text-align:center;
    } 
/* Ask panel start */
#panel3{
    height:auto;
    width:auto;
    position:relative;
    background-color:#6E6262;
    text-align:center;
    display:none;
    
    }         
.questionPreview{
    position: relative;
    height: 120px;
    width: 600px;
    border: thin solid #0800FF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow-y: scroll;
    }
.questionPreview:hover{
    border-color:#00FC1F;
    }
.QformContainer {
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    clear: both;
    }
.QformContainer input {
    width: 100%;
    clear: both;
    }  
.tagPreviewTag{
    position:relative;
    float:left;
    display:inline;
    }  
.tag{
    border:#000000 thin solid;
    margin:2px;
    padding:2px;
    }     
/* Ask panel end */
#searchquestionsUl{
    text-decoration: none;
    list-style-image: none;
    list-style-type: none;
    }   
.CommentsLi{
    position:relative;
    }  
    
.my-form {
  transition:0.5s linear all;
  background: white;
}
.my-form.ng-invalid {
  background: red;
  color:white;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.cs_bg_lightblack{
    background-color: #333;
}
.textwhite{
    color: #ffffff;
}

.captionplacement{
    float: left;
    position: relative;
    width: 100%;
    background-color: #333;
    border-radius:10px;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.carousel-indicators {
    border-radius: 10px;
    position: relative;
    float: left;
    background-color: #333;
    text-align: center;
    list-style: none;
}
.cs_bold{
    font-weight: bold;
}
.top-15{
    margin-top: 30px;
}
.slide-down-30px-slider {
    /*this is the original state of the slide down.*/
    background: dodgerblue;
    z-index: 50;
    top: -50px;
    width: 100%;
    height: 100px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.slide-down-30px-slider{
    /*this defines the transition*/
    -webkit-transition: all linear 2s;
    transition: all linear 2s;
}
.slide-down-30px-slider.ng-hide {
    /*this is the element state after the transition*/
  top:-100px;
}

.z50{
    position:relative;
    z-index: 50;
}
.z100{
    position:relative;
    z-index: 100;
}
.z150{
    position:relative;
    z-index: 50;
}
.z200{
    position:relative;
    z-index: 100;
}

/***************************/
/***************************/
/***************************/


.animated, .stationary{
  width:100%;
  height:100px;
  position:relative;
  margin:0px;
  padding:0px;
}
.stationary{
  background:black;
  z-index:100;
}
.animated{
  background:blue;
  z-index: 50;
  top: 0px;
}

.animated{
    -webkit-transition: top 3s;
  transition: top 3s;
}
.animated.ng-hide{
  top: 30px;
}



/***************************/
/***************************/
/***************************/




.sample-show-hide {
        /*this is the original state of the slide down.*/
    background: dodgerblue;
    z-index: 50;
    top: 30px;
    width: 100%;
    height: 30px;
    position: relative;
    margin: 0px;
    padding: 0px;
 /* margin-bottom: 20px;*/

}

.sample-show-hide {
  -webkit-transition:all linear 3s;
  transition: all ease 3s;
}

.sample-show-hide.ng-hide {
    top:0px;
}
/**************************************************************/
/*                   Start Of
*               *********************
*               * animation package *
*               *   bottom slider   *
*               *********************
*
*@backdrop ->  designates area for slider to move back and forth
*@slider -> slides out from behind an element, then tucks away
*@connector -> apply this class to whichever element you want to slide out of
*
/**************************************************************/
.backdrop-bottom-slider-30px {
    position:relative;
/*  background-color: #ac2925;  */
    top: -30px;
    height:60px;
    z-index: 80;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.slider-bottom-slider-30px {
    /*this is the original state of the slide down.*/
    background:#504D4D;
    z-index: 90;
    top: 30px;
    width: 100%;
    height: 30px;
    position: relative;
    margin: 0px;
    padding-top: 4px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.slider-bottom-slider-30px {
    -webkit-transition:all linear 3s;
    transition: all ease 1.5s;
}
.slider-bottom-slider-30px.ng-hide {
    top:0px;
}
.connector-bottom-slider-30px {
    position:relative;
    margin-bottom:0px;
    z-index:100;
}
                     /*End Of */
/*              *********************
*               * animation package *
*               *   bottom slider   *
*               *********************/