<div class="jumbotron">
  <div class="row">
    <div class="col-sm-0 col-md-2 col-lg-2"></div> 
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p class="center"> <h2>{{ AnswerViewerCTRL.package.question.question }}?</h2></p>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-2"></div>
    </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <footer class="pull-right">
        ~{{AnswerViewerCTRL.package.question.author}}~&nbsp;&nbsp;
        <cite title="Source Title">
          {{AnswerViewerCTRL.package.question.timestamp}}
        </cite>
      </footer>
    </div> 
  </div>    
</div>
<div>Data = {{ AnswerViewerCTRL.package.answers | json }}</div>
<hr>
<nav class="navbar navbar-inverse">
<form class="navbar-form navbar-center" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="More Questions?">
  </div>
  <button type="submit" class="btn btn-default">Go!</button>
  <button ng-click="AnswerViewerCTRL.addanswer();" class="btn btn-success">+</button>
<p class="navbar-text pull-right">Info on <a class="navbar-link">ThisQuestion</a></p>

</form>
</nav>

<accordion close-others="oneAtATime">
    <accordion-group is-open="isSelected "  ng-repeat="answer in AnswerViewerCTRL.package.answers" >
        <accordion-heading>
            <div ng-click="isSelected = !isSelected"> {{answer.content}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> </div>
        </accordion-heading>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="http://www.poolpickem.com/stackapp/images/angular-pic.jpeg" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                ...
            </div>
        </div>

    </accordion-group>
</accordion>