<style>
    .carousel-control {
        display: none;
    }
</style>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-0 col-md-2 col-lg-2"></div> 
    <div class="col-sm-12 col-md-8 col-lg-8">
      <p class="center"> <h2>{{ AnswerViewerCTRL.package.question.question }}?</h2></p>
    </div>
    <div class="col-sm-0 col-md-2 col-lg-2"></div>
    </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <footer class="pull-right">
        ~{{AnswerViewerCTRL.package.question.author}}~&nbsp;&nbsp;
        <cite title="Source Title">
          {{AnswerViewerCTRL.package.question.timestamp}}
        </cite>
      </footer>
    </div> 
  </div>    
</div>
<div>Data = {{ AnswerViewerCTRL.package.answers[0].bullets[0].text}}</div>
<hr>
<nav class="navbar navbar-inverse">
<form class="navbar-form navbar-center" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="More Questions?">
  </div>
  <button type="submit" class="btn btn-default">Go!</button>
  <button ng-click="AnswerViewerCTRL.addanswer();" class="btn btn-success">+</button>
<p class="navbar-text pull-right">Info on <a class="navbar-link">ThisQuestion</a></p>

</form>
</nav>

<div ng-repeat="answer in AnswerViewerCTRL.package.answers">
<accordion close-others="oneAtATime">
    <accordion-group is-open="preview_isSelected" ng-init="preview_isSelected = false">
        <accordion-heading>
            <div ng-click="preview_isSelected = !preview_isSelected" style="height: 30px; font-size: 25px;">
                {{answer.title}}<i class="pull-right glyphicon"
                                                   ng-class="{'glyphicon-chevron-up': preview_isSelected, 'glyphicon-chevron-down': !preview_isSelected}"></i> </div>
        </accordion-heading>
        <p class="lead">{{ answer.header }}</p><br><br>
        <ul ng-show="answer.bullettype == 'unordered'">
            <li ng-repeat="bullet in answer.bullets" class="lead cs_bold">{{bullet.text}}
            </li>
        </ul>
        <ol ng-show="answer.bullettype == 'ordered'">
            <li ng-repeat="bullet in answer.bullets" class="lead cs_bold">{{bullet.text}}
            </li>
        </ol>
        <br>

        <div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in answer.images" active="slide.active">
                        <img ng-src="http://localhost/BigBearStack/images/answers/{{ answer.qid }}/{{answer.key}}/{{ slide.image }}" style="height:300px;margin:auto;">

                        <div class="captionplacement">
                            {{ slide.text }}
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>

    </accordion-group>
    <div class="panel-footer cs_bg_lightblack textwhite" ng-hide="!preview_isSelected">
        <ul class="list-inline">
            <li ng-repeat="link in answer.links">*
                <a ng-href="http://{{ link.linkurl }}">
                    {{ link.linktext }}
                </a>
            </li>
        </ul>
    </div>

</accordion>
    </div>