<form>
    <div class="input-group input-group-lg" style="margin-top:20px;margin-bottom:20px;">
    <span class="input-group-addon" id="sizing-addon1">
      <span class="glyphicon glyphicon-search"></span>
    </span>
        <input type="text" name="Qstring" ng-model="Search_IndexCTRL.inputquerystring.string" class="form-control"
               placeholder="So what would you like to know ???" aria-describedby="sizing-addon1">

    </div>
    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
        <span class="glyphicon glyphicon-tags">&nbsp;&nbsp;</span>
        <span class="glyphicon glyphicon-triangle-bottom" ng-show="!isCollapsed"></span>
        <span class="glyphicon glyphicon-triangle-top" ng-show="isCollapsed"></span>
    </button>
    &nbsp;&nbsp;
        <label ng-repeat="x in Search_IndexCTRL.Tags" class="btn btn-{{x.class}} btn-xs" ng-model="x.selected" ng-show="x.selected"
               ng-change="Search_IndexCTRL.settagFilters();" btn-checkbox>
            {{x.html}}
        </label>

    <div class="row">
        <div class="col-lg-2" style="text-align:center;">
            <div collapse="!isCollapsed">
                Filter; By; Tags:<br>
                <label ng-repeat="y in Search_IndexCTRL.Tags" class="btn btn-{{y.class}} btn-xs" ng-model="y.selected"
                       ng-change="Search_IndexCTRL.settagFilters();" btn-checkbox>
                    {{y.html}}
                </label>





            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-sm-8 col-md-6 col-lg-6">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Ask!!"
                   ng-click="Search_IndexCTRL.getQueryQs()"/>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-3"></div>
    </div>

    <hr style=" height:20px;">
</form><br>
<div class="row">
    <div class="col-lg-12" style="text-align:center;">
        <div class="well well-sm"
             ng-repeat="result in Search_IndexCTRL.resultdata.data | filter:Search_IndexCTRL.Tagfilters[0]
             | filter:Search_IndexCTRL.Tagfilters[1] | filter:Search_IndexCTRL.Tagfilters[2] |
               filter:Search_IndexCTRL.Tagfilters[3] | filter:Search_IndexCTRL.Tagfilters[4]">
            <a href="#/search/{{result.qid}}"><h3>{{result.question | uppercase}} ?</h3></a><br>
            <div ng-repeat="tag in result.tags" style="display:inline;">
                <label class="btn btn-success btn-xs">{{ tag }}</label>&nbsp;&nbsp;
            </div>
        </div>
    </div>


    <div class="col-lg-12" style="text-align:center">
        <div>holder</div>
    </div>
</div>