<h3> Unanswered Questions</h3>



<a href="#/admin">admin</a>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Data Views</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#/admin/unanswered/777/createanswer">Unanswered Question 1</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Unanswered Question 2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Unanswered Question 3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

