<h3> ADMIN DASHBOARD </h3>



<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Data Views</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#/admin/unanswered">unanswered questions</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>SomeView</td>
            </tr>
            <tr>
                <td>3</td>
                <td>SomeOtherView</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

