<div class="jumbotron top-15">
    <h2 class="text-center">Admin. Dashboard<br>
        <small></small>
    </h2>
</div>



<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Data Views</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#/admin/unanswered">unanswered questions</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="#/admin/allquestions">all questions</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>SomeOtherView</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

