<div class="jumbotron top-15">
    <h2 class="text-center">Admin. All Questions<br>
        <small>locate any and all Q's</small>
    </h2>
</div>






<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
    <tr ng-repeat="user in users" ng-click="user.$selected = !user.$selected; changeSelection(user)" ng-class="{'active': user.$selected}">
        <td data-title="'id'" header-class="text-center" class="text-left" sortable="'id'" filter="{ 'id': 'text' }" >
            {{user.id}}
        </td>
        <td data-title="'question'" header-class="text-center" class="text-left" sortable="'question'" filter="{ 'question': 'text' }">
            {{user.question}}
        </td>

        <td data-title="'tags'" header-class="text-center" class="text-left" sortable="'tags'" filter="{ 'tags': 'text' }">
            {{user.tags}}
        </td>
        <td><button>edit</button><button>remove</button><button><a ng-href="#/admin/unanswered/{{user.id}}/createanswer">+answer</a></button></td>
    </tr>
</table>