<h3> Unanswered Questions</h3>



<a href="#/admin">admin</a>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Data Views</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="unanswered in UnansweredCTRL.data">
                <td>1</td>
                <td><a href="#/admin/unanswered/{{ unanswered.qid }}/createanswer">{{unanswered.question}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

