
<body>
<h3>CreateAnswer</h3>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-0 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p class="center">

            <h2>this.question?</h2></p>
        </div>
        <div class="col-sm-0 col-md-2 col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <footer class="pull-right">
                ~this.author~&nbsp;&nbsp;
            </footer>
        </div>
    </div>
</div>
<accordion close-others="oneAtATime">
    <accordion-group is-open="isSelected " >
        <accordion-heading>
            <div ng-click="isSelected = !isSelected" style="font-size: 25px;"> answer header goes here <i class="pull-right glyphicon"
                                                                            ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-right': !status.open}"></i> </div>
        </accordion-heading>
        <p class="lead">answer content and or answer body goes here.</p>

        <div>
            <div>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">

                        <div class="carousel-caption">
                            <h4>Slide {{$index}}</h4>
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
                </div>
                <div class="col-md-6">
                    Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
                    <br/>Enter a negative number or 0 to stop the interval.
                </div>
            </div>
        </div>



    </accordion-group>
</accordion>
<div>
    admin answer controls
</div>


</body>
</html>